.ConnexionIncrip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.5);
    z-index: 10;
    
}
  
.ConnexionIncrip > div {
    background-color: #F5F5F5;
    border-radius: 20px;
    width: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ConnexionIncrip h2 {
    margin: 55px 0 35px 0;
    padding: 0 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.ConnexionIncrip > div > div {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ConnexionIncrip div > div > button {
    width: 175px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--couleur-important);
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin: 20px 0px 40px 0px;
}
.ConnexionIncrip div > div > button:hover {
    background-color: #c81302;
}
    
.cancel-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background-color: inherit;
    cursor: pointer;
    border: none;
}

.ConnexionIncrip > div > div > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



/* pour les messages (d'erreur, ...) */

.Erreur {
    color: #000000;
    background-color: #f64c3d;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    margin: 10px 15% 10px 15%;
    font-weight: 700;
    text-align: center;
}

.MDPEnvoie {
    color: #000000;
    background-color: #77d884;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    margin: 10px 15% 10px 15%;
    font-weight: 700;
    text-align: center;
}

.Hide {
    display: none;
}

.link {
    cursor: pointer;
    color: #255186;
    margin: 0 0 20px 0;
    font-weight: 400;
}
.link:hover {
    color: var(--couleur-important);
}

.ErreurValeur label  {
    border: 2px solid var(--couleur-important);
}
