.Matchmaking{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.5);
  z-index: 10;
}

.Matchmaking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  width: 430px;
  height: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Mode-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.Matchmaking h2{
  font-size: 25px;
  font-weight: bold;
  color: #000;
  margin-top: 55px;
  margin-bottom: 35px;
}

.Matchmaking h3{
  color: #000;
  font-size: 20px;
  border-bottom: solid 1px #000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.timeMode{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  border-radius: 10px;
  background-color: #4D5865;
  cursor: pointer;
}

.timeMode > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.timeMode > div > span{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-left: 8px;
}

.timeMode > span{
  font-size: 14px;
  color: #fff;
}

.timeModeHover{
  background-color: #D73324;
}

.PlayButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #D73324;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin-top: 40px;
}

.cancel-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background-color: inherit;
  cursor: pointer;
  border: none;
}