.navbar {
    background-color: var(--couleur-principale);
    width: 100%;
    height: 97px;
    border-bottom: 1px solid #fff;
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
}

.navbar > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 85%;
    margin: auto;
}

.navbar > div > div {
    display: flex;
    align-items: center;
}

.navbar > div > div > a {
    text-decoration: none;
    margin-right: 55px;
}

.navbar > div > div > a > img {
    width: 65px;
    height: 65px;
}

.navbar > div > div > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar > div > div > ul > li {
    margin-right: 40px;
}

.navbar > div > div > ul > li > a {
    color: #fff;
    text-decoration: none;
    position: relative;
}
.navbar > div > div > ul > li > a::before {
    height: 2px;
    transform: scaleX(0);
    transform-origin: bottom right;
}

.navbar > div > div > ul > li > a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar > div > div > ul > li > a::before {
    content: " ";
    display: block;
    position: absolute;
    inset: 28px 0 0 0;
    background: #fff;
    z-index: -1;
    transition: transform .3s ease;
}


.navbar > div > div > div > button {
    background-color: var(--couleur-important);
    color: #fff;
    border: none;
    padding: 10px 33px;
    border-radius: 28px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.navbar > div > div:first-child > div {
    display: none;
}

@media (max-width: 768px) {
    .navbar > div {
        flex-direction: row;
    }

    .navbar > div > div > a, .navbar > div > div > ul{
        display: none;
    }

    .navbar > div > div:first-child > div {
        display: block;
        cursor: pointer;
    }
}


/* Lien de navigation */
.navbar a,
.navbar svg,
.navbar button {
    text-decoration: none;
    cursor: pointer;
}


.Connecter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Connecter > svg {
    padding-left: 40px;
}
