.AiMenu {
  background-color: var(--background-color);
  height: calc(100vh - 100px);
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AiMenu>div {
  width: 1200px;
  max-height: 790px;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AiMenu .left-container {
  display: block;
  min-width: 400px;
  width: auto;
  padding-left: 24px;
  height: 100%;
  background-color: var(--background-color);
  float: left;
  position: relative;
}

.AiMenu .right-container {
  width: 410px;
  height: 90%;
  position: relative;
  float: right;
}

.AiMenu .cta-box {
  display: flex;
  align-items: center;
  width: auto;
  height: 43px;
  position: relative;
  z-index: 1;
  margin-top: 12px;
  margin-bottom: 12px;
  animation: slideIn 0.8s ease-out forwards;
}

.AiMenu .cta-box::before {
  content: '';
  display: block;
  background-color: rgba(0, 125, 240, 0.54);
  width: 250px;
  height: 33px;
  position: absolute;
  z-index: -1;
  top: 8px;
}

.left-container>span:first-of-type {
  margin-top: 45px;
  color: var(--font-color);
  font-size: 22px;
  font-weight: normal;
  cursor: pointer;
}


.AiMenu .right-container>div:first-of-type {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 38px 38px 22px 38px;
  border: 3px solid #212121;
  box-shadow: 11px 13px 0px var(--drop-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideInFadeInRight 1s ease-out forwards;
}


.AiMenu .right-container img {
  width: 365px;
  height: auto;
  object-fit: initial;
}

.AiMenu .menu-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.playbutton {
  width: 223px;
  height: 80px;
  margin-top: 35px;
  filter: drop-shadow(5px 5px 0px #212121);
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 11px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
}

.AiMenu .menu-container .cards {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: solid 2px var(--font-color);
  box-shadow: 4px 4px 0px var(--drop-shadow);
  margin-top: 45px;
  margin-bottom: 25px;
}

.AiMenu .menu-container .cards img {
  width: 85%;
  height: 85%;
}

.AiMenu .menu-container>span {
  font-size: 25px;
  font-weight: normal;
  color: var(--font-color);
  margin-bottom: 25px;
}

.AiMenu .slider-input {
  width: 100%;
}

.AiMenu .slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.AiMenu .slider {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #007DF0 0%, #007DF0 100%);
  /* Remplacez 'red' par la couleur souhaitée */
  outline: none;
  opacity: 1;
  transition: opacity 0.2s;
  margin-bottom: 10px;
  z-index: 2;
  appearance: none;
}

.AiMenu .slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fff;
  border: solid 2px #212121;
  cursor: pointer;
  border-radius: 50%;
}

.AiMenu .slider-marks {
  display: flex;
  justify-content: space-between;
}

.AiMenu .slider-marks span {
  position: relative;
  display: flex;
  justify-content: center;
  width: 20%;
  font-size: 14px;
  user-select: none;
  color: var(--font-color);
}

.AiMenu .slider-marks span::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 1px;
  height: 5px;
  background-color: var(--font-color);
  transform: translateX(-50%);
  z-index: 1;
}


@media (max-width: 450px) {
  .AiMenu .left-container {
    width: 95%;
    min-width: 95%;
    padding-left: 0;
    margin: auto;
  }

  .AiMenu .menu-container>button {
    width: 90%;
    height: 70px;
    font-size: 25px;
    margin: 35px auto 0 auto;
  }

  .AiMenu .slider-container {
    width: 90%;
  }
}