.PopUpFinDePartie{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.PopUpFinDePartie>div:first-of-type{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2121217a;;
}

.PopUpFinDePartie > div:last-of-type{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 11px;
  border: solid 2px var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PopUpFinDePartie > div:last-of-type > div{
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PopUpFinDePartie > div:last-of-type > div h2{
  font-size: 32px;
  width: 100%;
  text-align: center;
  color: var(--font-color);
  font-weight: bold;
  margin-top: 26px;
  margin-bottom: 12px;
}

.PopUpFinDePartie > div:last-of-type > div > div{
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.PopUpFinDePartie > div:last-of-type > div > div > div{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PopUpFinDePartie > div:last-of-type > div > div > div img{
  width: 85px;
  height: 85px;
}

.PopUpFinDePartie > div:last-of-type > div > div > div span{
  font-size: 18px;
  color: var(--font-color);
  font-weight: normal;
  margin-top: 7px;
}

.PopUpFinDePartie > div:last-of-type > div > span{
  font-size: 22px;
  font-weight: bold;
  color: var(--font-color);
  position: relative;
}

.PopUpFinDePartie > div:last-of-type > div > span:first-of-type{
  margin-top: 12px;
  margin-bottom: 5px;
}

.PopUpFinDePartie > div:last-of-type > div > span > span{
  position: absolute;
  top: -10px;
  right: -35px;
  font-size: 22px;
  font-weight: bold;
}

.PopUpFinDePartie .lostelo{
  color: #E63946;
}

.PopUpFinDePartie .winelo{
  color: #4CAF50;
}

.PopUpFinDePartie > div:last-of-type > div > button{
  width: 250px;
  height: 50px;
  border-radius: 11px;
  box-shadow: 4px 4px 0px var(--font-color);
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.PopUpFinDePartie > div:last-of-type > div > button:first-of-type{
  background-color: var(--main-color);
  color: #fff;
  border: none;
  margin-top: 10px;
  margin-bottom: 12px;
}

.PopUpFinDePartie > div:last-of-type > div > button:nth-of-type(2){
  background-color: #fff;
  color: var(--font-color);
  border: 2px solid var(--font-color);
}

.PopUpFinDePartie .partage {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin-top: 12px;
}

.PopUpFinDePartie .partage>span {
  color: var(--font-color);
  font-size: 17px;
  font-weight: bold;
}

.PopUpFinDePartie .partage>div {
  width: 250px;
  height: auto;
  position: relative;
  margin-top: 5px;
}

.PopUpFinDePartie .partage input {
  height: 35px;
  width: 100%;
  border: solid 2px var(--font-color);
  color: var(--font-color);
  font-size: 16px;
}

.PopUpFinDePartie .partage button {
  height: 35px;
  width: 35px;
  background-color: var(--font-color);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.PopUpFinDePartie .partage>div span {
  display: none;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  background-color: var(--font-color);
  border-radius: 5px;
  padding: 2px 5px;
  position: absolute;
  top: -25px;
  right: -30px;
}

.PopUpFinDePartie .partage button:hover + span {
  display: inline;
}