.gameControl {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  justify-content: center;
  align-items: center;
}

.gameControl button{
  background-color: inherit;
  border: none;
}

.gameControl svg {
  cursor: pointer;
}

.gameControl svg path{
  stroke: var(--font-color);
}