.coupsContainerMobile{
  width: 100vw;
  margin-top: 1px;
  margin-left: 0px;
  overflow-x: auto;
  height: 43px;
  border: solid 1px var(--font-color);
  display: none;
  flex-direction: row;
  overflow-x: auto;
}

.coupsContainerMobile > div{
  display: flex;
  flex-direction: row;
}

.coupsContainerMobile > div > div{
  height: 43px;
  border-right: 1px solid var(--font-color);
  color: var(--font-color);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coupsContainerMobile > div > div:first-of-type{
  width: 34px;
}

.coupsContainerMobile > div > div:not(:first-of-type){
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80px;
}

@media (max-width: 600px){
  .coupsContainerMobile{
    display: flex;
  }
}