main {
    height: auto;
}

.PageApprendre {
    color: #FFFFFF;
    width: 80%;
    max-width: 1000px;
    margin-bottom: 100px;
}
@media all and (max-width: 500px) {
    .PageApprendre {
        width: 90%;
    }
}

.PageApprendre h2 {  
    margin: 45px 25px 30px 25px;
}


/* --------------------------------------------------------------- */
/* --------------- Partie du gros titre de la page --------------- */

.PageApprendre > div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0;
}

.PageApprendre > div:first-of-type span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    color: #FFFFFF;
}
@media all and (max-width: 650px) {
    .PageApprendre > div:first-of-type span {
        font-size: 30px;
    }
}
@media all and (max-width: 400px) {
    .PageApprendre > div:first-of-type span {
        font-size: 25px;
    }
}


.PageApprendre > div:first-of-type > div > span > span {
    background: linear-gradient(135deg, #18A0FB 12.82%, #A671D3 68.37%, #E38ACF 72.17%, #E99ECF 76.43%, #FCE1D0 80.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* --------------------------------------------------------------- */
/* ---------------- Partie avec la bande plus foncé -------------- */

.PageApprendre > div:nth-of-type(2) {
    width: 100vw;
    position: absolute;
    left: 0;
    background: #15191e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.PageApprendre > div:nth-of-type(2) > p {
    text-align: center;
    width: 90%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}


/* --------------------------------------------------------------- */
/* ---------- Partie ou toutes les regles tiennent --------------- */

.PageApprendre > div:nth-of-type(3) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PageApprendre > div:nth-of-type(3) {
    margin-top: 100px;
}
@media all and (max-width: 500px) {
    .PageApprendre > div:nth-of-type(3) {
        margin-top: 125px;
    }
}

.PageApprendre > div:nth-of-type(3) > div > ul {
    margin-bottom: 25px;
    width: 85%;
}


.PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(2) > div > div > div,
.PageApprendre > div:nth-of-type(3) > div:nth-of-type(3) > div > div > div, 
.PageApprendre > div:nth-of-type(3) > div:first-of-type > div > div > div {
    padding: 25px;
}

.PageApprendre > div:nth-of-type(3) > div:first-of-type > div > div > div ul,
.PageApprendre > div:nth-of-type(3) > div:nth-of-type(3) > div ul {
    margin-left: 30px;
}

.PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:first-of-type,
.PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(2) > div, 
.PageApprendre > div:nth-of-type(3) > div:first-of-type > div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(2) > div > div > div > p,
.PageApprendre > div:nth-of-type(3) > div:first-of-type > div > div > div > p {
    margin-top: 10px;
}


/* --------------------------------------------------------------- */
/* ------------------ Partie déroulement du jeu ------------------ */

.PageApprendre > div:nth-of-type(3) > div:first-of-type > div > div {
    width: 98%;
    max-width: 970px;
    box-shadow : 0px 0px 10px rgba(255, 255, 255, 0.1);
}



/* --------------------------------------------------------------- */
/* ----------------- Partie mouvement des pieces ----------------- */

.PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:first-of-type > div,
.PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(2) > div > div {
    display: flex;
    width: 48%;
    box-shadow : 0px 0px 10px rgba(255, 255, 255, 0.1);
}
@media all and (max-width: 900px) {
    .PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:first-of-type > div,
    .PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(2) > div > div {
        width: 100%;
    }
}
@media all and (max-width: 500px) {
    .PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:first-of-type > div,
    .PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(2) > div > div {
        flex-direction: column;
        align-items: center;
    }
}


.PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) img {
    max-height: 175px;
    max-width: 175px;
    padding: 20px 0 20px 20px;
}
@media all and (max-width: 1200px) {
    .PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) img {
        height: 150px;
        width: 150px;
    }
}
@media all and (max-width: 1000px) {
    .PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) img {
        height: 125px;
        width: 125px;
    }
}
@media all and (max-width: 900px) {
    .PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) img {
        height: 150px;
        width: 150px;
    }
}
@media all and (max-width: 500px) {
    .PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) img {
        height: 250px;
        width: 250px;
        padding: 20px 0 0 0;
    }
}

.PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:first-of-type> div > div > h4 {
    padding-bottom: 10px;
}

.PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:first-of-type> div > div {
    padding: 30px 20px;
}
@media all and (max-width: 500px) {
    .PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:first-of-type> div > div {
        padding-top: 20px;
    }
}

.PageApprendre > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(2) > h3 {
    margin: 50px 0 25px 0;
}


/* --------------------------------------------------------------- */
/* ------------------ Partie resultat partie ------------------ */

.PageApprendre > div:nth-of-type(3) > div:nth-of-type(3) > div > div {
    width: 98%;
    max-width: 970px;
    box-shadow : 0px 0px 10px rgba(255, 255, 255, 0.1);
    margin: 20px 0;
}

.PageApprendre > div:nth-of-type(3) > div:nth-of-type(3) > div > p {
    padding-bottom: 5px;
}

.PageApprendre > div:nth-of-type(3) > div:nth-of-type(3) > div > div > div p {
    padding-bottom: 5px;
    margin-top: 10px;
}
