:root{
  --main-color: #007DF0;
  --couleur-caseNoir-light: #75B8F7;
  --couleur-caseNoir-dark: #6781F1;
  --couleur-caseBlanc-light: #E8EDF9;
  --couleur-caseBlanc-dark: #E8EDF9;
  --background-color-light: #fff;
  --background-color-dark: #222931;
  --backgroundCards-light: #fff;
  --backgroundCards-dark: #011127;
  --secondbackground-light: #fff;
  --secondbackground-dark: #212121;
  --font-color-light: #212121;
  --font-color-dark: #fff;
  --drop-shadow-light : #212121;
  --drop-shadow-dark : none;
}