:root{
  --couleur-principale: #222931;
  --couleur-secondaire: #4D5865;
  --couleur-important: #D73324;
  --couleur-texteInfos: #2A3072;
  --couleur-caseNoir: #6781F1;
  --couleur-caseBlanc: #E8EDF9;
  --font-color: #212121;
  --main-color: #007DF0;
}